.contenedor{
    text-align: center;
    font-family: fantasy;

}

.texto{
    text-align: center;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}

#1{
    position: absolute;
}

body{
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 100%;
    background-color: aquamarine;
}
